* {
	border-radius: 15px;
    	font-family: "Iosevka Nerd Font" ;
	font-size: 18px;
	font-weight: bold;
	min-height: 5px;
}

window#waybar {
	background: rgba(255, 172, 230, 1.0);
	border-radius: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 6px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	transition: none;
    	color: transparent;
	background: transparent;
}

#network {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #bd93f9;
}

#pulseaudio {
	font-size: 18px;
	margin-top: 4px;
	margin-left: 8px;
	padding-left: 8px;
	padding-right: 10px;
	margin-bottom: 4px;
	border-radius: 15px;
	transition: none;
	color: #FCACE6;
	background: #161320;
}

#battery {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #B5E8E0;
}

#battery.charging, #battery.plugged {
	color: #161320;
    	background-color: #B5E8E0;
}

#battery.critical:not(.charging) {
    	background-color: #B5E8E0;
    	color: #161320;
    	animation-name: blink;
    	animation-duration: 0.5s;
    	animation-timing-function: linear;
    	animation-iteration-count: infinite;
    	animation-direction: alternate;
}

#backlight {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #F8BD96;
}

#clock {
	margin-top: 4px;
	margin-left: 8px;
	margin-right: 4px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 4px;
	border-radius: 15px;
	transition: none;
	color: #FCACE6;
	background: #161320;
}

#memory {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #DDB6F2;
}

#cpu {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #96CDFB;
}

#tray {
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 8px;
	padding-left: 10px;
	margin-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 15px;
	transition: none;
	color: #FCACE6;
	background: #161320;
}

#temperature {
    	background-color: #131f1f;
    	border: 1px solid #27848e;
    	color: #06cfdd;
    	margin: 0px 5px 5px 0px;
    	border-radius: 5px;
}

#temperature.critical {
    	background-color: #131f1f;
    	color: #06cfdd;
    	margin: 0px 5px 5px 0px;
    	border: 1px solid #27848e;
    	border-radius: 5px;
}

#workspaces button {
    	padding: 5px 20px;
	color: #161320;
}

#workspaces button.focused {
    	color: #161320;
    	background-color: #FCACE6;
}

#workspaces button.urgent {
	color: #161320;
    	background-color: #161320;
}

#workspaces button:hover {
	background-color: #FF0043;	
	color: #161320;
}
